<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayfa bulunamadı!</title>
    <%- include('imports') %>
</head>
<body>
    <h1 class="text-center my-5 display-1">404</h1>
    <p class="text-center">Sayfa bulunamadı! <a href="/">Ana Sayfaya Dön</a></p>
    <style>
        body { background-color: #d1d8e0; }
    </style>
</body>
</html>